GE_DISCORD_APPLICATION_ID=your_application_id
GE_DISCORD_PUBLIC_KEY=your_public_key_hex
GE_DISCORD_BOT_TOKEN=Bot your_bot_token
GE_DISCORD_ONCALL_CHANNEL_ID=your_channel_id
GE_FIRESTORE_PROJECT_ID=greenearth-prod
GE_GITHUB_TOKEN=ghp_your_token
GE_ONCALL_RUNBOOKS_BRANCH=main
